<div id="high_scores" class="game_window">
  <table>
    <tr>
      <th>Name</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.wins.to_i %></td>
        <td><%= user.losses.to_i %></td>
      </tr>
    <% end %>
  </table>
</div>
