/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body  {
   background-color: #ccccc2;
   font-family: 'Press Start 2P', sans-serif;
   font-size: 12px;
 }

 img {
   width: 300px;
 }

 #navbar {
   height: 35px;
   margin: auto;

 }
 #navbar ul {
   color: #424bb0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 #navbar li {
   background-color: #e8e8e3;
   border-radius: 5px;
   box-shadow: 0 0 5px #6f7178 inset, 0 0 15px #6f7178;
   margin-top:10px;
   padding:10px;
   list-style: none;
   text-decoration: none;
 }

 #navbar li:hover{
   box-shadow: 0 0 5px #6f7178 inset, 0 0 15px #444549;
 }

 #navbar a{
   color: inherit;
   text-decoration: none;
 }

 .game_window {
   background-color: #8f9e55;
   color: #545b38;
   width: 750px;
   height: 500px;
   margin: 30px auto;
   border-radius: 15px;
   border: 15px solid #e8e8e3;
   box-shadow: 0 0 25px #576d00 inset, 0 0 15px #6f7178;
 }

#high_scores table{
  margin: auto;
  width: 50%
}

#high_scores th{
  padding-top:18px;
  font-size:18px;
  height: 25px;
}

#high_scores table, th, td{
  padding: 5px 0;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 15px 20px 0 20px;
  height: 100vh;
  text-align: center;
}
#flex-grid img {
  flex: 1;
  height: 200px;
  margin: 10px 0;
}
#start_fight {
  display: flex;
  justify-content:space-between;
  text-align: center;
  width: 100vw;
  background-color: white;
}
